## training data

Neural Networks/RNN/training data
Deep_Learning/Using_theano/Datasets/
Datasets/

## Temporary files and links
temp/
Tools_and_Framework/Deep_Learning/PyTorch/data/
Tools_and_Framework/Tensorflow/MNIST_CNN/
Computer_Vision/MNIST/
